<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../Assets/CSS/Estilo_AHDM.css">
    <title>Imagi</title>
  </head>
  <body>
     <nav>
      <div class="row1">
      <ul>

Angel Joel Lara Guzmán 15551448 <br>
Usuario:     <input id="usuario"type="text" name="" value="" placeholder="Ingresa tu Usuario"> <br>
Descripción:     <input id="descripcion"type="text" name="" value="" placeholder="Descripción"> <br>
Imagen: <input id="imagen" type="text" name="" value="" placeholder="Ingresa el URL de la Imagen"> <br>
  <button  id="guardar"type="submit"onclick="addElement()">Guardar</button>
  <hr>

      </ul>
  </div>
</nav>
<script type="text/javascript" src="../Assets/JS/element.js">

</script>
  </body>
</html>
